/*cor principal — #4169E1 (Azul Royal)
Uso: Cabeçalho, títulos de seções, destaques importantes.
Justificativa: É a cor mais forte da paleta, chama atenção e mantém identidade visual consistente.

Cores análogas - 
#1E90FF (Azul Dodger): usado em gradientes de fundo (como hero section) ou hover de botões.
#4B0082 (Índigo): usado em detalhes menores ou títulos secundários, para criar contraste suave sem competir com o azul principal.

Cor complementar — #FF8C00 (Laranja escuro)
Uso: Botões, links importantes ou chamadas para ação (CTAs).
Justificativa: Laranja é oposto do azul no círculo cromático, então cria contraste forte e chama atenção sem cansar a vista.

Cor neutra — #F5F5F5 (Cinza muito claro)
Uso: Fundo principal das seções ou do site.
Justificativa: Deixa o conteúdo em destaque, não compete com cores vibrantes e garante leitura confortável.
Alternativa:
#FFFFFF (branco) → fundo de cards, formulários ou áreas clean.
#000000 (preto) → texto sobre fundo claro para contraste máximo.*/

:root {
  --principal: #4169E1;
  --ana1: #1E90FF;
  --ana2: #4B0082;
  --hover-botao: #1E90FF;
  --detalhes-menores: #4B0082;
  --comp: #FF8C00;
  --neutra: #F5F5F5;
  --branco: #ffffff;
  --preto: #000000;
  --fundo: #F5F5F5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--principal);
  height: 64px;
  color: var(--branco);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

main {
  background-color: var(--fundo);
  color: var(--principal);
  padding-top: 128px;
  font-family: "Avenir Next LT Pro", sans-serif;
  display: flex;
  justify-content: center;
}

.titulo {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.container-texto {
  flex: 1;
  min-width: 300px;
}

#subtitulo {
  padding-bottom: 20px;
}

.btn {
  background-color: var(--comp);
  color: var(--branco);
  border: none;
  padding: 10px 16px;
  border-radius: 1cm;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--hover-botao);
}

.botoes {
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.banner-inicial {
  max-width: auto;
  height: 242px;
}

.container-img{
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}


@media (max-width: 768px) {
  .banner-inicial {
    height: 200px;
  }
}
